<div class="row">
	<div class="col-sm-12">
		<script>console.log('Contact page');</script>
		<h1>Contact page</h1>
		<div class="contact-info text-left">
			<ul>
				<li><i class="fa fa-phone"></i><a href="tel:+40729699148">0729.699.148</a></li>
				<li><i class="fa fa-envelope"></i><a href="mailto:oanapopescu93@gmail.com">oanapopescu93@gmail.com</a></li>
				<li><i class="fa fa-map-marker"></i><span>Romania, Bucharest</span></li>
			</ul>
			<p class="text-center" style="margin-top:15px;">Or get social with me:</p>
			<ul class="text-center">
				<li><a href="https://www.facebook.com/popescu.oana.965" target="_blank">Facebook</a></li>
				<li><a href="https://www.linkedin.com/in/oanapopescu93/" target="_blank">Linkedin</a></li>
			</ul>
		</div>
	</div>
</div>