<div class="row">
	<div class="col-sm-12 text-center">
		<script>console.log('Game01 page');</script>
		<h1>Game01 page</h1>
		<div class="col-sm-12 text-center">
		<form id="game01_form" method="post" action="/game01/submit">				  
		  <input type="text" name="user" placeholder="username">
		  <input type="text" name="pass" placeholder="password">
		  <input type="submit" value="Submit">
		</form>
	</div>
	</div>
</div>